@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  --primary: #4f46e5;
  --primaryLight: #6a63f1;
  --darkGray: #282424;
  --background: #121212;
  --pageMargin: 250px;
}

@media (max-width: 1536px) {
  :root {
    --pageMargin: 100px;
  }
}

@media (max-width: 1536px) {
  body {
    font-size: 1.125rem;
  }
}

@media (max-width: 1024px) {
  :root {
    --pageMargin: 50px;
  }
}

@media (max-width: 768px) {
  :root {
    --pageMargin: 10px;
  }
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #f3f4f6;
}

.upper-wave {
  background: url('/images/background-wave.png');
}
